<h1>Player 1 enter a word</h1>
<form class="new-word" action="/human_hangman" method="post">
  <label for="new-word">Enter a word, no more than 20 characters</label>
  <input type="text" name="new-word" maxlength="20">
  <button type="submit" name="button">Enter</button>
</form>
